@import url('../js/jquery.meanmenu/meanmenu.min.css');

.menu1 {
    background: #02923d none repeat scroll 0 0;
    position: relative;
}

.menu1 .main-menu > ul {
    display: -webkit-flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
}

.menu1 .main-menu > ul > li {
    float: left;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.menu1 .main-menu > ul > li .sub-menu {
    background: #02923d none repeat scroll 0 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2222;
    min-height: 200px;
    visibility: hidden;
}

.menu1 .main-menu > ul > li .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.menu1 .main-menu > ul > li .sub-menu li .sub-menu {
    background: #00a651 none repeat scroll 0 0;
    left: 100%;
    top: 0;
    width: 525%;
    left: 17%;
    width: 83%;
}

.menu1 .main-menu > ul > li .sub-menu li .sub-menu li {
    float: left;
    width: 33.33%;
    overflow: hidden;
    white-space: normal;
}

.menu1 .main-menu > ul > li .sub-menu li .sub-menu li:nth-child(3n+1) {
    clear: left;
}

.menu1 .main-menu > ul > li .sub-menu li .sub-menu li:hover {
    background: #02923d none repeat scroll 0 0;
}

.menu1 .main-menu > ul > li > .sub-menu > li {
    text-align: left;
    width: 17%;
}

.menu1 .main-menu ul li:hover {
    background: #00a651 none repeat scroll 0 0;
}

.menu1 .main-menu ul li:hover > .sub-menu {
    visibility: visible;
    animation: 0.3s ease 0s normal none 1 running fadeInUp;
    -moz-animation: 0.3s ease 0s normal none 1 running fadeInUp;
    -webkit-animation: 0.3s ease 0s normal none 1 running fadeInUp;
    -o-animation: 0.3s ease 0s normal none 1 running fadeInUp;
    -ms-animation: 0.3s ease 0s normal none 1 running fadeInUp;
}

.menu1 .main-menu ul li:hover > a::after {
    max-width: 100%;
}

.menu1 .main-menu ul li a {
    color: #ffffff;
    display: block;
    padding: 16px 10px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
}

.menu1 .main-menu ul li a::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    max-width: 0;
    position: absolute;
    width: 100%;
    transition: max-width 0.5s ease 0s;
    -moz-transition: max-width 0.5s ease 0s;
    -webkit-transition: max-width 0.5s ease 0s;
    -o-transition: max-width 0.5s ease 0s;
    -ms-transition: max-width 0.5s ease 0s;
}

.menu1 .main-menu ul ul li a {
    padding: 10px 8px;
}

.menu1 .main-menu ul .current-menu-item > a {
    background: #00a651 none repeat scroll 0 0;
    position: relative;
}

.menu1 .main-menu ul .current-menu-item > a::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 999999;
}
